doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id='tn') 
      div(id='lg')
        a(href='/'): img(src='/images/logo.jpeg' id='logo')
      #user
        if typeof navProps === 'undefined' || navProps.user.loggedin == false
          div: a(href='/signin') signin
        else
          span welcome
          span  | 
          span: a(href='/dosignout') signout
    div(id='content')
      block content